/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */

@import "bootstrap/scss/root";

@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";

@import "bootstrap/scss/images";

@import "bootstrap/scss/containers";

@import "bootstrap/scss/grid";

@import "bootstrap/scss/tables";

@import "bootstrap/scss/forms";

@import "bootstrap/scss/buttons";

@import "bootstrap/scss/transitions";

@import "bootstrap/scss/dropdown";

@import "bootstrap/scss/button-group";

@import "bootstrap/scss/nav";

@import "bootstrap/scss/navbar";

@import "bootstrap/scss/card";

@import "bootstrap/scss/accordion";

@import "bootstrap/scss/breadcrumb";

@import "bootstrap/scss/pagination";

@import "bootstrap/scss/badge";

@import "bootstrap/scss/alert";

@import "bootstrap/scss/progress";

@import "bootstrap/scss/list-group";

@import "bootstrap/scss/close";

@import "bootstrap/scss/toasts";

@import "bootstrap/scss/modal";

@import "bootstrap/scss/tooltip";

@import "bootstrap/scss/popover";

@import "bootstrap/scss/carousel";

@import "bootstrap/scss/spinners";

@import "bootstrap/scss/offcanvas";

@import "bootstrap/scss/placeholders";

@import "bootstrap/scss/helpers";

@import "bootstrap/scss/utilities/api";

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

body {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  img{
    max-width: 100%;
  }
  // sections in PyPi description HTML content
  .section {
    padding: 1em 0;
    img {
      padding: 0.5em 0;
    }
  }
}

@media (min-width: 640px) {
  body {
    display: grid;
    column-gap: 1em;
    grid-template-columns: 1fr clamp(24ch, 28ch, 30ch) clamp(60ch, 90ch, 110ch) 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header"
      ". sidebar content ."
      "footer footer footer footer";
  }
}
