/* Variables and mixins declared here will be available in all other SCSS files */
/* Variables and mixins declared here will be available in all other SCSS files */
@import 'bootstrap/scss/functions';
/* Override Bootstrap's variables here */

$plone-blue: #0095d3;
$primary: $plone-blue;
$secondary: #fffdda;

// $font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
// $h1-font-size:                $font-size-base * 2.4 !default;
// $h2-font-size:                $font-size-base * 1.8 !default;
// $h3-font-size:                $font-size-base * 1.4 !default;
// $h4-font-size:                $font-size-base * 1.25 !default;
// $h5-font-size:                $font-size-base * 1.1 !default;
// $h6-font-size:                $font-size-base !default;
  // --bs-link-color: #0095d3;
  //---secondary-text: #999;
  // --secondary-bg-color: #ddd;
  // --plone-blue: #0095d3;
  // --bs-primary: var(--plone-blue);
  // --bs-secondary: #fffdda;
  // --bs-primary-rgb: rgb(0, 149, 211);
  // --bs-secondary-rgb: rgb(255, 253, 218);

@import 'bootstrap/scss/variables';


@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
